body{
    background: url(business-computer-contemporary-669996.jpg);
    background-size: cover;
    font-family:'Bree Serif', serif;
    margin: 0;
    color: white;
}
li{
    display: inline-block;
}
a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-right: -4px;
}
ul{
    padding: 0;
}
a:hover{
    background-color: #333;
    transition: 0.35s;
}
.homecontainer{
    position: sticky;
    width: 800px;
    top: 50%;
    left: 50%;
    background-color: rgba(51,51,51,0.8);
    padding: 10px;
}
.home-h1{
    font-size: 50px;
}
.activepage{
    background-color: #333;
}
.contactform{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contactdiv {
    width: 25%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item {
    padding: 10px;
    border-style: none;
}
img{
    border-radius: 5px;
    max-width: 640px;
    max-height: 426px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
table{
    width: 100%;
    color: white;
    background-color: rgba(51,51,51,0.7)
}
table, td, th{
    border: 1px solid white;
}